<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppuserMapper">
	<!-- 通过user_id获取数据 -->
	<select id="findByUiId" parameterType="pd" resultType="pd">
		select
			account,
			user_id,
			username,
			usernick,
			password,
			name,
			rights,
			role_id,
			last_login,
			ip,
			status,
			bz,
			phone,
			sfid,
			start_time,
			end_time,
			years,
			email,
			number,
			integral,
			usernick,
			sex,
			headImgUrl,
			weixin_open_id,
			img_src_z,
			img_src_f,
			if_audit,
			nim_token,
			community_id
		from
			sys_app_user
		where
			user_id = #{user_id}
	</select>
	<!-- 删除用户 -->
	<delete id="deleteU" parameterType="pd">
		delete from sys_app_user
		where
			user_id = #{user_id}
	</delete>

</mapper>