<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.core.dao.SysMenuMapper">


    <select id="listPage" parameterType="page"  resultType="com.yf.core.entiy.SysMenuEntity">
        select
            menu_id,
            parent_id,
            name,
            url,
            perms,
            type,
            icon,
            order_num,
            gmt_create
        from sys_menu
    </select>
</mapper>