<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.core.dao.sys.SysUserMapper">


    <select id="getByUserName" parameterType="String"  resultType="com.yf.core.entiy.SysUserEntity">
        select
          org_id,
          username,
          password,
          email,
          mobile,
          status,
          remark,
          user_id_create,
          gmt_create,
          gmt_modified,
          user_id
        from sys_user u
        WHERE
          u.username = #{username}
    </select>
</mapper>