<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
	<title th:text="${title}"></title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{../../css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{../../plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
	<link th:href="@{../../plugins/bootstrap-table/treegrid/jquery-treegird.min.css}" rel="stylesheet"/>
	<link th:href="@{../../plugins/ztree/css/metroStyle/metroStyle.css}" rel="stylesheet"/>
	<link th:href="@{../../plugins/double-box/doublebox-bootstrap.css}" rel="stylesheet"/>
	<link th:href="@{../../css/style.min.css}" rel="stylesheet"/>
	<link th:href="@{../../css/common.min.css}" rel="stylesheet"/>
</head>
