<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<header id="header" th:replace="sys/common/common_head::commonHead('404')"></header>
<body class="childrenBody">
	<div class="noFind">
		<div class="ufo">
			<i class="seraph icon-test ufo_icon"></i>
			<i class="layui-icon page_icon">&#xe638;</i>
		</div>
		<div class="page404">
			<i class="layui-icon">&#xe61c;</i>
			<p>我勒个去，页面被外星人挟持了!</p>
		</div>
	</div>
    <footer th:replace="sys/common/common_footer::commonFooter"></footer>
</body>
</html>