<!DOCTYPE html>
<html  class="loginHtml" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:replace="sys/common/common_head::commonHead('登录')"></header>
<body class="loginBody">
	<form class="layui-form">
		<div class="login_face"><img th:src="@{/Plugin/layuicms2.0/images/face.jpg}" src="../../images/face.jpg" class="userAvatar"/></div>
		<div class="layui-form-item input-item">
			<label for="userName">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" id="userName" class="layui-input" lay-verify="required" />
		</div>
		<div class="layui-form-item input-item">
			<label for="password">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input" lay-verify="required" />
		</div>
		<div class="layui-form-item input-item" id="imgCode">
			<label for="code">验证码</label>
			<input type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="layui-input" />
			<img th:src="@{/Plugin/layuicms2.0/images/code.jpg}"  />
		</div>
		<div class="layui-form-item">
			<button class="layui-btn layui-block " lay-filter="login">登录</button>
		</div>
		<div class="layui-form-item layui-row">
			<a href="javascript:;" class="seraph icon-qq layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a href="javascript:;" class="seraph icon-wechat layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a href="javascript:;" class="seraph icon-sina layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
		</div>
	</form>
    <footer th:replace="sys/common/common_footer::commonFooter"></footer>
    <script type="text/javascript" th:src="@{/js/sys/login.js}"  src="login.js"></script>
</body>
</html>