<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.chrome.mapper.HomeBtEntityMapper">
  <resultMap id="BaseResultMap" type="com.yf.chrome.model.HomeBtEntity">
    <result column="bt_id" jdbcType="BIGINT" property="btId" />
    <result column="bt_name" jdbcType="VARCHAR" property="btName" />
    <result column="bt_type" jdbcType="VARCHAR" property="btType" />
    <result column="bt_html_url" jdbcType="VARCHAR" property="btHtmlUrl" />
    <result column="bt_attach_index" jdbcType="INTEGER" property="btAttachIndex" />
    <result column="bt_now_index" jdbcType="INTEGER" property="btNowIndex" />
    <result column="bt_now_info" jdbcType="VARCHAR" property="btNowInfo" />
    <result column="bt_create_time" jdbcType="TIMESTAMP" property="btCreateTime" />
    <result column="bt_update_time" jdbcType="TIMESTAMP" property="btUpdateTime" />
    <result column="bt_check_time" jdbcType="TIMESTAMP" property="btCheckTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yf.chrome.model.HomeBtEntity">
    <result column="bt_download_url_json" jdbcType="LONGVARCHAR" property="btDownloadUrlJson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bt_id, bt_name, bt_type, bt_html_url, bt_attach_index, bt_now_index, bt_now_info, 
    bt_create_time, bt_update_time, bt_check_time
  </sql>
  <sql id="Blob_Column_List">
    bt_download_url_json
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yf.chrome.model.HomeBtEntityExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yf.chrome.model.HomeBtEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yf.chrome.model.HomeBtEntityExample">
    delete from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yf.chrome.model.HomeBtEntity">
    insert into home_bt (bt_id, bt_name, bt_type, 
      bt_html_url, bt_attach_index, bt_now_index, 
      bt_now_info, bt_create_time, bt_update_time, 
      bt_check_time, bt_download_url_json)
    values (#{btId,jdbcType=BIGINT}, #{btName,jdbcType=VARCHAR}, #{btType,jdbcType=VARCHAR}, 
      #{btHtmlUrl,jdbcType=VARCHAR}, #{btAttachIndex,jdbcType=INTEGER}, #{btNowIndex,jdbcType=INTEGER}, 
      #{btNowInfo,jdbcType=VARCHAR}, #{btCreateTime,jdbcType=TIMESTAMP}, #{btUpdateTime,jdbcType=TIMESTAMP}, 
      #{btCheckTime,jdbcType=TIMESTAMP}, #{btDownloadUrlJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yf.chrome.model.HomeBtEntity">
    insert into home_bt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="btId != null">
        bt_id,
      </if>
      <if test="btName != null">
        bt_name,
      </if>
      <if test="btType != null">
        bt_type,
      </if>
      <if test="btHtmlUrl != null">
        bt_html_url,
      </if>
      <if test="btAttachIndex != null">
        bt_attach_index,
      </if>
      <if test="btNowIndex != null">
        bt_now_index,
      </if>
      <if test="btNowInfo != null">
        bt_now_info,
      </if>
      <if test="btCreateTime != null">
        bt_create_time,
      </if>
      <if test="btUpdateTime != null">
        bt_update_time,
      </if>
      <if test="btCheckTime != null">
        bt_check_time,
      </if>
      <if test="btDownloadUrlJson != null">
        bt_download_url_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="btId != null">
        #{btId,jdbcType=BIGINT},
      </if>
      <if test="btName != null">
        #{btName,jdbcType=VARCHAR},
      </if>
      <if test="btType != null">
        #{btType,jdbcType=VARCHAR},
      </if>
      <if test="btHtmlUrl != null">
        #{btHtmlUrl,jdbcType=VARCHAR},
      </if>
      <if test="btAttachIndex != null">
        #{btAttachIndex,jdbcType=INTEGER},
      </if>
      <if test="btNowIndex != null">
        #{btNowIndex,jdbcType=INTEGER},
      </if>
      <if test="btNowInfo != null">
        #{btNowInfo,jdbcType=VARCHAR},
      </if>
      <if test="btCreateTime != null">
        #{btCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="btUpdateTime != null">
        #{btUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="btCheckTime != null">
        #{btCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="btDownloadUrlJson != null">
        #{btDownloadUrlJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yf.chrome.model.HomeBtEntityExample" resultType="java.lang.Long">
    select count(*) from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update home_bt
    <set>
      <if test="record.btId != null">
        bt_id = #{record.btId,jdbcType=BIGINT},
      </if>
      <if test="record.btName != null">
        bt_name = #{record.btName,jdbcType=VARCHAR},
      </if>
      <if test="record.btType != null">
        bt_type = #{record.btType,jdbcType=VARCHAR},
      </if>
      <if test="record.btHtmlUrl != null">
        bt_html_url = #{record.btHtmlUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.btAttachIndex != null">
        bt_attach_index = #{record.btAttachIndex,jdbcType=INTEGER},
      </if>
      <if test="record.btNowIndex != null">
        bt_now_index = #{record.btNowIndex,jdbcType=INTEGER},
      </if>
      <if test="record.btNowInfo != null">
        bt_now_info = #{record.btNowInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.btCreateTime != null">
        bt_create_time = #{record.btCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.btUpdateTime != null">
        bt_update_time = #{record.btUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.btCheckTime != null">
        bt_check_time = #{record.btCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.btDownloadUrlJson != null">
        bt_download_url_json = #{record.btDownloadUrlJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update home_bt
    set bt_id = #{record.btId,jdbcType=BIGINT},
      bt_name = #{record.btName,jdbcType=VARCHAR},
      bt_type = #{record.btType,jdbcType=VARCHAR},
      bt_html_url = #{record.btHtmlUrl,jdbcType=VARCHAR},
      bt_attach_index = #{record.btAttachIndex,jdbcType=INTEGER},
      bt_now_index = #{record.btNowIndex,jdbcType=INTEGER},
      bt_now_info = #{record.btNowInfo,jdbcType=VARCHAR},
      bt_create_time = #{record.btCreateTime,jdbcType=TIMESTAMP},
      bt_update_time = #{record.btUpdateTime,jdbcType=TIMESTAMP},
      bt_check_time = #{record.btCheckTime,jdbcType=TIMESTAMP},
      bt_download_url_json = #{record.btDownloadUrlJson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update home_bt
    set bt_id = #{record.btId,jdbcType=BIGINT},
      bt_name = #{record.btName,jdbcType=VARCHAR},
      bt_type = #{record.btType,jdbcType=VARCHAR},
      bt_html_url = #{record.btHtmlUrl,jdbcType=VARCHAR},
      bt_attach_index = #{record.btAttachIndex,jdbcType=INTEGER},
      bt_now_index = #{record.btNowIndex,jdbcType=INTEGER},
      bt_now_info = #{record.btNowInfo,jdbcType=VARCHAR},
      bt_create_time = #{record.btCreateTime,jdbcType=TIMESTAMP},
      bt_update_time = #{record.btUpdateTime,jdbcType=TIMESTAMP},
      bt_check_time = #{record.btCheckTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectOneByExample" parameterType="com.yf.chrome.model.HomeBtEntityExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleWithBLOBs" parameterType="com.yf.chrome.model.HomeBtEntityExample" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from home_bt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>